.red-head {
  color: #BD2C2C;
}

.full-size {
  min-height: 100vh;
}

.full-width {
  min-width: 100vw;
}

.h-center {
  text-align: center;
  align-self: center;
  h1, h2, h3, h4, p {
    text-align: inherit;
  }
}

.v-center {
  display: flex;
  justify-content: center;
}

.h-text {
  font-family: "Share Tech Mono", Serif;
  font-size: 70px;
  letter-spacing: 40px;
  padding-left: 45px;
}

.highlight {
	font-size: 28px;
	text-transform: uppercase;
  margin: 10px 0 10px 0;
}

.strike-text {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 22px;
}
.no-border {
  border: none;
}

.fadetoblack {
  margin: 0;
  padding: 0;
  background: linear-gradient(transparent,white)
}

.seperator {
  height: 2px;
  background: linear-gradient(transparent, #BD2C2C);
}

.download {
	margin-left: -5px;
	margin-top: 5px;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  height: 100%; 
}

body {
  background: #1d1d1d;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.8;
  color: #fff; 
  font-family: "Roboto", sans-serif;
}

iframe {
  border: none;
}

a, a:visited, a:hover, a:active, a:focus {
  color: #BD2C2C;
}

#about {
  background: #fff;
  color: #000;
}

#usage {
  background: #BD2C2C;
}