.red-head {
  color: #BD2C2C;
}
.full-size {
  min-height: 100vh;
}

.half-size {
  min-height: 50vh;
}

.h-center {
  text-align: center;
  align-self: center;
  h1, h2, h3, h4, p {
    text-align: inherit;
  }
}

.v-center {
  display: flex;
  justify-content: center;
}

.h-text {
  font-family: "Freestyle Script", Serif;
  font-size: 60px;
}

.btn-adjust {
  float: left;
  height: 100%;
  padding: 0 20px;
  margin: 10px 5px;
  line-height: 50px;
  transition: all .15s ease;
  .btn-adjust:hover {
    box-shadow: 0 55px 0 #fff inset;
  }
}

.no-border {
  border: none;
}

section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}

html, body {
  overflow-x: hidden;
  width: 100%;
  height: 100%; 
}

body {
  background: #FFF;
  font-size: 17px;
  line-height: 1.7;
  color: #000; 
  font-family: "Yu Gothic", cursive;
}

a, a:hover, a:visited {
  color: #BD2C2C;
}